body {
    font-size: 25px;
    text-align: justify;
}
.title {
    font-size: 30px;
    font-weight: bold;
}
.underline {
    text-decoration: underline;
}
.underline > #bold {
    font-weight: bold;
}
.info {
    font-size: 20px;
    color: red;
}