ul > li > ul > li
{
    font-weight: bold;
    list-style-type: lower-alpha;
    color: green;
}
ul > li > ul > li > ul > li
{
    color: blue;
    font-weight: normal;
    list-style-type: square;
}
ul > li
{
    list-style-type: decimal;
    color: red
}