div {
    display: inline-block;
}
.C
{
    width: 310px;
    height: 55px;
    background-color: yellow;
    border: 5px  solid red;
}
.A
{
    position: relative;
    left: 15px;
    top: 10px;
}
.B
{
    position: relative;
    left: 15px;
    bottom: 10px;
}