body
{
    position: absolute;
    left: 33%;
    top: 30%;
}
.A
{
    background-color: lightblue;
    border: 2px solid blue;
    text-align: center;
    width: 300px;
    height: 150px;
    position: absolute;
}
.B
{
    background-color: lightcoral;
    border: 2px solid red;
    position: absolute;
    left: 100px;
    top: 50px;
    text-align: center;
    width: 300px;
    height: 150px;
}