body {
  background-color: lightgrey;
  color: #212529;
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  display: flex;
  justify-content: center;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  width: 1140px;
}

header {
  &.background-img {
    background-image: url('images/mountain.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    > .content {
      @media (max-width: 767px) {
        display: none;
      }
      background-color: rgba(255, 255, 255, 0.2);
      color: white;
      font-size: 38px;
      margin: 20px;
      padding: 20px 50px;
    }
  }
}

nav {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  font-size: 16px;
  font-weight: bold;
  @media (max-width: 767px) {
    font-weight: normal;
  }
  > ul {
    margin: 0;
    padding: 15px;
    @media (max-width: 1023px) {
      padding: 5px;
    }
    display: flex;
    @media (max-width: 767px) {
      flex-direction: column;
      align-items: center;
      padding: 20px;
    }
    justify-content: center;
    list-style-type: none;
    > li {
      padding: 5px 40px;
      &:nth-of-type(2) {
        border-left: 1px solid black;
        border-right: 1px solid black;
        @media (max-width: 767px) {
          border-left: none;
          border-right: none;
        }
      }
      > a {
        color: orangered;
        letter-spacing: 1px;
        text-decoration: none;
      }
    }
  }
}

section {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 15px 0;
  padding: 60px 50px;
  &:first-of-type {
    background-color: rgb(238, 238, 238);
  }
  .text-content {
    padding: 50px;
    text-align: justify;
  }
}

h2 {
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 40px;
  margin-top: 0;
  text-align: center;
  + .description {
    margin: 0 auto;
    text-align: center;
    width: 60%;
  }
}

img {
  border-style: none;
  max-width: 100%;
  vertical-align: middle;
  &.img-thumbnail {
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    height: auto;
    max-width: 100%;
    padding: .25rem;
  }
}

.text-justify {
  background-color: rgb(238, 238, 238); 
  text-align: justify;
}
.row {
  display: flex;
  @media (max-width: 767px) {
    flex-direction: column;
  }
}
.col {
  @media (max-width: 767px) {
    padding: 10px;
  }
  padding-left: 15px;
  padding-right: 15px;
}

.p-0 {
  padding: 0;
}