* {
    margin: 0;
    padding: 0;
}
.container {
    padding: 10px 40px;
    @media (max-width: 768px) {
        padding: 10px 10px;
    }
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-gap: 10px;
    .bg-color {
        height: 100px;
        border-radius: 10px;
    }
    .orange {
        background-color: salmon;
        grid-column-end: span 6;
        @media (max-width: 320px) {
            grid-column-end: span 12;
        }
    }
    .green {
        background-color: lightgreen;
        grid-column-end: span 12;
    }
    .blue {
        background-color: lightskyblue;
        grid-column-end: span 4;
        @media (max-width: 768px) {
            grid-column-end: span 12;
        }
    }
    .gray {
        background-color: lightgrey;
        grid-column-end: span 3;
        @media (max-width: 768px) {
            grid-column-end: span 6;
        }
        @media (max-width: 320px) {
            grid-column-end: span 12;
        }
    }
}
