body { 
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-color: #ececec;
  }
  
  .content {
    width: 400px;
    margin: 0 auto;
    margin-bottom: 0px;
  }
  
  h2 {
    color: #045137;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
  }
  
  .contact {
    box-shadow: 0px 0px 10px #a5a5a5;
    margin: 20px;
    background-color: white;
  }
  
  .name {
    background-color: #045137;
    color: white;
    padding: 10px;
    font-weight: bold;
  }
  .info {   
    padding: 15px;  
  }
  span {
    display: block;
  }
  .address {
    text-align: right;
  }
  .address > span:first-child {
      color: #045137;
  }
  .address > span:nth-child(2) {
    font-size: 14px;
  }
  .mail {
      color: #045137;
      font-weight: bold;
      margin-top: 15px;
      margin-bottom: 5px;
      text-transform: uppercase;
  }